body {
    background-color: #222;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 92.5vw;
}

nav {
    color: white;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    padding: 2vmin;
    max-height: 20vmin;
}
nav > a {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}
nav > a:hover {
    color: #EEF;
    text-shadow: 1px 1px 3px #0AF, -1px -1px 3px #0AF, 1px -1px 3px #0AF, -1px 1px 3px #0AF, 0px 0px 10px #0AF, 0px 0px 20px #0AF, 0px 0px 30px #0AF, 0px 0px 30px #0AF, 0px 0px 30px #0AF;
}
nav > a:active {
    color: #FEF;
    text-shadow: 1px 1px 3px #F0F, -1px -1px 3px #F0F, 1px -1px 3px #F0F, -1px 1px 3px #F0F, 0px 0px 10px #F0F, 0px 0px 20px #F0F, 0px 0px 30px #F0F, 0px 0px 30px #F0F, 0px 0px 30px #F0F;
}
.container {
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    z-index: -1;
}
header {
    flex: 0 1 none;
    /*flex-grow: 0;
    flex-shrink: 0;*/
    display: inline-block;
    position: relative;
    padding: 5%;
    /*width: 30%;*/
    min-width: 300px;
    height: 65vmin;
}
header::after {
    content: "";
    background-color: aliceblue;
    background-image: url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
    background-repeat: repeat-y;
    background-position: center top;
    background-size: contain;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
header * {
    z-index: 1;
}
header > h1 {
    display: inline-block;
    position: absolute;
    right: -5%;
    bottom: 10%;
    color: #222;
    font-size: 9vh;
    line-height: 9vh;
}
header > img {
    display: block;
    margin: auto;
    border-radius: 100%;
    width: 50%;
    min-width: 150px;
    max-width: 256px;
    position: relative;
    top: 5vmin;
}
h1::first-line {
    font-size: 4.5vh;
    line-height: 4.5vh;
}

section {
    flex: 0 1 none;
    /*flex-grow: 0;
    flex-shrink: 0;*/
    display: inline-block;
    max-width: 50%;
    padding: 3% 0 0 10%;
    /*min-width: 300px;*/
}
section * {
    padding-right: 5px;
}
section > ul {
    list-style-type: square;
}
#section-1 p, #section-1 ul {
    font-size: 1.5em;
}

blockquote {
    color: white;
    background-color: #222;
    font-size: 2em;
    padding: 1em;
    margin: 2em 0 0 0;
    position: relative;
}
blockquote::before {
    content: "“";
    font-size: 2em;
    position: absolute;
    top: -10px;
    left: 10px;
}
h2 {
    text-transform: uppercase;
}


.abrilff {
    font-family: 'Abril Fatface', cursive;
}

.active {
    color: #EFE;
    text-shadow: 1px 1px 3px #0F0, -1px -1px 3px #0F0, 1px -1px 3px #0F0, -1px 1px 3px #0F0, 0px 0px 10px #0F0, 0px 0px 20px #0F0, 0px 0px 30px #0F0, 0px 0px 30px #0F0;
}
.passive {
    color: #FEE;
    text-shadow: 1px 1px 3px #F00, -1px -1px 3px #F00, 1px -1px 3px #F00, -1px 1px 3px #F00, 0px 0px 10px #F00, 0px 0px 20px #F00, 0px 0px 30px #F00, 0px 0px 30px #F00, 0px 0px 30px #F00;
}