.FlexBox {
    display: flex;
    justify-content: space-around;

    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 400px;
}

.inner {
    width: 300px;
    height: 300px;
}









.red {
    background-color: rgba(255,0,0,0.5);
}

.green {
    background-color: rgba(0,255,0,0.5);
}

.blue {
    background-color: rgba(0,0,255,0.5);
}