.FlexBox {
    display: flex;
    justify-content: space-around;
    

}

.inner {
    width: 300px;
    height: 300px;
}









.red {
    background-color: rgba(255,0,0,0.5);
}

.green {
    background-color: rgba(0,255,0,0.5);
}

.blue {
    background-color: rgba(0,0,255,0.5);
}